body{
    background-color: rgba(196, 9, 9, 0.723);
    background-image: url("Saint2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border-radius: 25px;
    margin-top: 100px;
    box-shadow: inset 0 0 10px #000000 ;
}
